body{
    main{
        width: 100vw;
        #home_Main_Footer{
            width: 90%;
            margin: 0 auto;
            display: flex; 
            h1{
                width: 90%;
                margin: 20% auto 30%;
            }
            .home_Main_Footer_Img{
                width: 100%;
                .rectangle{
                    width: 100%;
                    z-index: 1;
                    left: 0;    
                }
                .phone{
                    width: 60%;
                    position: absolute;
                    transform: translateX(-110%) translateY(-20%);
                    z-index: 2;
                }
            }
        }
    }
}