body{
    main{
        #home_Header_Footer{
            h1{
               font-size: 100%;
               width: 50%; 
            }
        .rectangle{
            width: 20%;
        }
        .phone{
            width: 20%;
        }
        }
    }
}