@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter", sans-serif;
  color: rgb(0, 0, 0);
}

body {
  font-weight: 600;
}

body .dashboard {
  background-color: rgb(245, 245, 251);
  width: 100dvw;
  overflow-x: hidden;
}
body .dashboard .dashboardheader {
  width: 100dvw;
  background-color: rgb(245, 245, 251);
}
body .dashboard .dashboardheader .hamburger-dashboard {
  background-color: rgb(245, 245, 251);
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 10dvw;
  z-index: 0;
  position: relative;
}
body .dashboard .dashboardheader .hamburger-dashboard span {
  width: 15%;
  height: 4%;
  background-color: rgb(150, 152, 214);
  margin-top: 5%;
  margin-left: 10%;
}
body .dashboard .dashboardheader .hamburger-dashboard_active {
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
body .dashboard .dashboardheader .hamburger-dashboard_active :nth-child(1) {
  transform: translateY(2.9vw) rotate(135deg);
}
body .dashboard .dashboardheader .hamburger-dashboard_active :nth-child(2) {
  opacity: 0;
}
body .dashboard .dashboardheader .hamburger-dashboard_active :nth-child(3) {
  transform: translateY(-2.9vw) rotate(-135deg);
}
body .dashboard .dashboardheader .allheader {
  width: 50%;
  background-color: rgb(255, 255, 255);
  transform: translateX(-100%);
  position: absolute;
  z-index: 4;
}
body .dashboard .dashboardheader .allheader .profil {
  display: flex;
  flex-direction: column;
  border-bottom: solid 2px rgb(245, 245, 245);
  padding-bottom: 20%;
  align-items: center;
}
body .dashboard .dashboardheader .allheader .profil img {
  margin: auto;
  width: 75%;
  height: 75%;
  background: rgb(245, 245, 251);
  border-radius: 50%;
}
body .dashboard .dashboardheader .allheader .profil h2 {
  text-align: center;
  font-size: 5dvw;
  margin-top: 10%;
  width: 50%;
}
body .dashboard .dashboardheader .allheader .nav {
  border-bottom: solid 2px rgb(245, 245, 245);
  width: 100%;
  height: 100%;
  padding-bottom: 20%;
}
body .dashboard .dashboardheader .allheader .nav nav {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}
body .dashboard .dashboardheader .allheader .nav nav a {
  margin-top: 10%;
  padding-left: 20%;
  font-size: 3.5vw;
  font-weight: 400;
}
body .dashboard .dashboardheader .allheader .nav nav :nth-child(1) {
  background: url(../../../../public/img/Icon_dashboard.avif);
  background-repeat: no-repeat;
  background-size: contain;
}
body .dashboard .dashboardheader .allheader .nav nav :nth-child(2) {
  background: url(../../../../public/img/Icon_Invoices.avif);
  background-repeat: no-repeat;
  background-size: contain;
}
body .dashboard .dashboardheader .allheader .nav nav :nth-child(3) {
  background: url(../../../../public/img/Icon_Companies.avif);
  background-repeat: no-repeat;
  background-size: contain;
}
body .dashboard .dashboardheader .allheader .nav nav :nth-child(4) {
  background: url(../../../../public/img/Icon_contact.avif);
  background-repeat: no-repeat;
  background-size: contain;
}
body .dashboard .dashboardheader .allheader .logout {
  width: 100%;
  height: 400%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2.5% 0;
  align-items: center;
}
body .dashboard .dashboardheader .allheader .logout img {
  background-color: rgb(245, 245, 251);
  border-radius: 50%;
  width: 15%;
  height: 15%;
  transform: translate(20%);
}
body .dashboard .dashboardheader .allheader .logout button {
  width: 25%;
  background-color: transparent;
  border: none;
  font-size: 3vw;
  color: rgb(150, 152, 214);
  transform: translateX(-35%);
}
body .dashboard .dashboardheader .allheader_active {
  transform: none;
}

@media screen and (min-width: 425px) {
  body .dashboard {
    background-color: rgb(245, 245, 251);
    width: 100dvw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
  }
  body .dashboard .dashboardheader {
    width: 20dvw;
    background-color: rgb(245, 245, 251);
  }
  body .dashboard .dashboardheader .hamburger-dashboard {
    display: none;
  }
  body .dashboard .dashboardheader .allheader {
    width: 100%;
    transform: translateX(0);
    position: relative;
  }
  body .dashboard .dashboardheader .allheader .profil {
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px rgb(245, 245, 245);
    padding-bottom: 20%;
    align-items: center;
  }
  body .dashboard .dashboardheader .allheader .profil img {
    margin: auto;
    width: 50%;
    height: 50%;
    margin-top: 5%;
    background: rgb(245, 245, 251);
    border-radius: 50%;
  }
  body .dashboard .dashboardheader .allheader .profil h2 {
    text-align: center;
    font-size: 2.5dvw;
    margin-top: 10%;
    width: 50%;
  }
  body .dashboard .dashboardheader .allheader .nav {
    border-bottom: solid 2px rgb(245, 245, 245);
    width: 100%;
    height: 120vh;
    padding-bottom: 20%;
  }
  body .dashboard .dashboardheader .allheader .nav nav {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
  }
  body .dashboard .dashboardheader .allheader .nav nav a {
    margin-top: 10%;
    padding-left: 20%;
    font-size: 1.5vw;
  }
  body .dashboard .dashboardheader .allheader .nav nav a:hover {
    font-weight: 600;
  }
  body .dashboard .dashboardheader .allheader .nav nav a:hover::after {
    content: "";
    width: 2.5%;
    height: 2%;
    background-color: rgb(150, 152, 214);
    position: absolute;
    left: 97.5%;
  }
  body .dashboard .dashboardheader .allheader .logout {
    width: 100%;
    height: 400%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5% 0;
    align-items: center;
  }
  body .dashboard .dashboardheader .allheader .logout img {
    background-color: rgb(245, 245, 251);
    border-radius: 50%;
    width: 15%;
    height: 15%;
    transform: translate(20%);
    margin: 2.5%;
  }
  body .dashboard .dashboardheader .allheader .logout button {
    width: 25%;
    background-color: transparent;
    border: none;
    font-size: 1.5dvw;
    color: rgb(150, 152, 214);
    transform: translateX(-35%);
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter", sans-serif;
  color: rgb(0, 0, 0);
}

body {
  font-weight: 600;
}

body .dashboard_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
}
body .dashboard_main .dashboard_herosection {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0 0;
  transform: translateY(-90%);
}
body .dashboard_main .dashboard_herosection h3 {
  font-size: 6vw;
}
body .dashboard_main .dashboard_herosection h4 {
  font-size: 3vw;
  font-weight: 400;
}
body .dashboard_main .dashboard_herosection_containers {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
body .dashboard_main .dashboard_herosection_containers_container1 {
  width: 100%;
  background-color: rgb(150, 152, 214);
  border-radius: 5px;
  text-align: center;
  justify-content: center;
}
body .dashboard_main .dashboard_herosection_containers_container1 h2 {
  margin-top: 2.5%;
  width: 90%;
  color: rgb(255, 255, 255);
  font-size: 9vw;
}
body .dashboard_main .dashboard_herosection_containers_container1 p {
  width: 90%;
  color: rgb(255, 255, 255);
  font-size: 5vw;
  font-weight: 400;
  text-align: center;
  margin: 5% auto;
}
body .dashboard_main .dashboard_herosection_containers_container2 {
  width: 100%;
  margin: 0 10%;
}
body .dashboard_main .dashboard_herosection_containers_container2 img {
  width: 80%;
}
body .dashboard_main_all {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body .dashboard_main_all_statistics {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 90%;
  margin: 5%;
}
body .dashboard_main_all_statistics h2 {
  font-size: 7vw;
  margin: 5% 0;
}
body .dashboard_main_all_statistics_statistic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 5%;
}
body .dashboard_main_all_statistics_statistic p {
  color: rgb(255, 255, 255);
  font-size: 3.2vw;
}
body .dashboard_main_all_statistics_statistic .totalinvoices {
  background-color: rgb(77, 76, 172);
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
}
body .dashboard_main_all_statistics_statistic .totalcompanies {
  background-color: rgb(150, 152, 214);
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .dashboard_main_all_statistics_statistic .totalcontacts {
  background-color: rgb(255, 128, 139);
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 425px) {
  body .dashboard_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80vw;
  }
  body .dashboard_main .dashboard_herosection {
    width: 100%;
    margin: 2.5% 0 0;
    transform: translateX(-35%);
  }
  body .dashboard_main .dashboard_herosection h3 {
    font-size: 2vw;
  }
  body .dashboard_main .dashboard_herosection h4 {
    font-size: 1vw;
    font-weight: 400;
  }
  body .dashboard_main .dashboard_herosection_containers {
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color: rgb(150, 152, 214);
    margin: 5% auto;
    border-radius: 10px;
  }
  body .dashboard_main .dashboard_herosection_containers_container1 {
    width: 60%;
    background-color: rgb(150, 152, 214);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    padding: 2.5% 0;
    margin-left: 2.5%;
  }
  body .dashboard_main .dashboard_herosection_containers_container1 h2 {
    margin-top: 2.5%;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 3vw;
  }
  body .dashboard_main .dashboard_herosection_containers_container1 p {
    width: 60%;
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    font-weight: 300;
    text-align: left;
    margin: 5% 5%;
  }
  body .dashboard_main .dashboard_herosection_containers_container2 {
    width: 35%;
    height: 15vw;
    margin: 0 10%;
  }
  body .dashboard_main .dashboard_herosection_containers_container2 img {
    position: relative;
    width: 120%;
    transform: translateX(0%) translateY(-50%);
  }
  body .dashboard_main_all_statistics {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5% 0;
    width: auto;
    transform: translateY(-1.6vw);
  }
  body .dashboard_main_all_statistics h2 {
    font-size: 1.5vw;
    text-align: left;
    margin: 5% 5%;
  }
  body .dashboard_main_all_statistics_statistic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5%;
  }
  body .dashboard_main_all_statistics_statistic p {
    color: rgb(255, 255, 255);
    font-size: 0.9vw;
  }
  body .dashboard_main_all_statistics_statistic .totalinvoices {
    background-color: rgb(77, 76, 172);
    border-radius: 50%;
    width: 5.5dvw;
    height: 5.5dvw;
  }
  body .dashboard_main_all_statistics_statistic .totalcompanies {
    background-color: rgb(150, 152, 214);
    border-radius: 50%;
    border-radius: 50%;
    width: 5.5dvw;
    height: 5.5dvw;
  }
  body .dashboard_main_all_statistics_statistic .totalcontacts {
    background-color: rgb(255, 128, 139);
    border-radius: 50%;
    border-radius: 50%;
    width: 5.5dvw;
    height: 5.5dvw;
  }
}
body .dashboard_main_all_arrays {
  background-color: rgb(255, 255, 255);
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  font-weight: 400;
  font-size: 3.8vw;
  margin-bottom: 5%;
}
body .dashboard_main_all_arrays h2 {
  font-size: 7vw;
  margin: 5% 0;
  padding-bottom: 5%;
  border-bottom: solid 2px rgb(245, 245, 245);
}
body .dashboard_main_all_arrays_overflow {
  width: 100%;
  overflow-x: auto;
}
body .dashboard_main_all_arrays_overflow table {
  width: 90%;
  margin: 0 0 5% 5%;
  text-align: left;
}
body .dashboard_main_all_arrays_overflow .sortButtons {
  display: inline-block;
  align-items: center;
}

@media screen and (min-width: 425px) {
  body .dashboard_main_all {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 44%);
    grid-template-rows: 22% 15% 0% 10%;
    grid-column-gap: 2vw;
    margin-left: 10%;
    align-items: flex-start;
  }
  body .dashboard_main_all :nth-child(1) {
    grid-area: 1/1/2/2;
  }
  body .dashboard_main_all :nth-child(2) {
    grid-area: 1/2/3/3;
  }
  body .dashboard_main_all:nth-child(3) {
    grid-area: 2/1/4/2;
  }
  body .dashboard_main_all :nth-child(4) {
    grid-area: 3/2/5/3;
  }
  body .dashboard_main_all_arrays {
    background-color: rgb(255, 255, 255);
    font-size: 1vw;
    margin-bottom: 5%;
    font-weight: 400;
    border-radius: 10px;
    width: auto;
  }
  body .dashboard_main_all_arrays h2 {
    font-size: 1.5vw;
    margin: 5% 5%;
    text-align: left;
  }
  body .dashboard_main_all_arrays table {
    width: 90%;
    font-size: 1vw;
  }
  body .dashboard_main_all_arrays table thead th {
    padding-bottom: 3%;
  }
  body .dashboard_main_all_arrays table tbody td {
    padding-bottom: 3%;
  }
}
body .dashboard_main_form {
  margin-left: 0;
  width: 90vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 5vw;
}
body .dashboard_main_form p {
  text-align: left;
  margin: 5%;
  padding-bottom: 5%;
  border-bottom: solid 2px rgb(245, 245, 245);
}
body .dashboard_main_form input {
  background-color: rgb(245, 245, 245);
  border: none;
  margin: 0 5%;
  color: rgb(115, 115, 115);
}
body .dashboard_main_form select {
  background-color: rgb(245, 245, 245);
  margin: 0 5%;
  color: rgb(115, 115, 115);
}
body .dashboard_main_form label {
  text-align: left;
  margin: 2.5% 5%;
  color: rgb(115, 115, 115);
}
body .dashboard_main_form .save {
  color: white;
  background-color: rgb(150, 152, 214);
  margin: 5%;
  text-align: left;
  text-indent: 2.5%;
}
body .dashboard_main_form .error {
  font-size: 1.5vw;
  text-align: left;
  color: rgb(150, 152, 214);
  margin-left: 5%;
  margin-top: 1%;
}

@media screen and (min-width: 425px) {
  body .dashboard_main_form {
    margin: auto;
    width: 71vw;
    font-size: 4vw;
  }
  body .dashboard_main_form p {
    text-align: left;
    margin: 2.5% 5%;
    padding-bottom: 2%;
    border-bottom: solid 2px rgb(245, 245, 245);
    font-size: 2vw;
  }
  body .dashboard_main_form input {
    margin: 0 5%;
    padding: 1.5%;
    font-size: 1.5vw;
  }
  body .dashboard_main_form select {
    padding: 1.5%;
    font-size: 1.5vw;
  }
  body .dashboard_main_form label {
    text-align: left;
    margin: 2.5% 5%;
    color: rgb(115, 115, 115);
  }
  body .dashboard_main_form .save {
    text-indent: 0%;
  }
}
body .dashboard_main_allarrays {
  width: 90vw;
  background-color: white;
  margin-top: 5%;
  border-radius: 10px;
  margin-bottom: 5%;
}
body .dashboard_main_allarrays .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid rgb(245, 245, 245);
}
body .dashboard_main_allarrays .title h2 {
  width: 50%;
  text-align: left;
  margin: 5%;
  font-size: 5vw;
}
body .dashboard_main_allarrays .title .search {
  width: 30%;
  height: 10%;
  transform: translateX(25%);
}
body .dashboard_main_allarrays_overflow {
  overflow: auto;
  font-size: 3.5vw;
  width: auto;
  text-align: left;
}
body .dashboard_main_allarrays_overflow .sortButtons {
  display: inline-block;
  margin-left: 3%;
}
body .dashboard_main_allarrays_overflow .tri {
  font-size: 3vw;
  background-color: transparent;
  border: none;
}
body .dashboard_main_allarrays_overflow .delete {
  width: 5vw;
  height: 5vw;
  background: url(../../../../public/img/delete.avif);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
body .dashboard_main_allarrays_overflow .edit {
  width: 5vw;
  height: 5vw;
  background: url(../../../../public/img/edit.avif);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
body .dashboard_main_allarrays .pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 5%;
}
body .dashboard_main_allarrays .pagination ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
body .dashboard_main_allarrays .pagination li {
  margin: 0 1vw;
  cursor: pointer;
}
body .dashboard_main_allarrays .pagination li a {
  text-decoration: none;
  display: inline-block;
  border: solid 1px rgb(115, 115, 115);
  padding: 0vw 1.5vw;
  border-radius: 3px;
}
body .dashboard_main_allarrays .pagination li.active a {
  background-color: transparent;
  border: solid 1px rgb(150, 152, 214);
  color: rgb(150, 152, 214);
}
body .dashboard_main_allarrays .pagination li a:hover {
  background-color: rgb(115, 115, 115);
  color: #fff;
}

@media screen and (min-width: 425px) {
  body .dashboard_main_allarrays {
    width: 71vw;
    background-color: white;
    margin-top: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
  }
  body .dashboard_main_allarrays .title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  body .dashboard_main_allarrays .title h2 {
    width: 50%;
    text-align: left;
    margin: 5%;
    font-size: 2vw;
  }
  body .dashboard_main_allarrays .title .search {
    width: 30%;
    height: 10%;
    transform: translateX(25%);
    font-size: 1.5vw;
    padding: 0.5%;
  }
  body .dashboard_main_allarrays_overflow {
    font-size: 1.4vw;
    width: auto;
    font-weight: 400;
  }
  body .dashboard_main_allarrays_overflow table {
    width: 70vw;
    margin-top: 5%;
  }
  body .dashboard_main_allarrays_overflow .tri {
    font-size: 1vw;
    background-color: transparent;
    border: none;
  }
  body .dashboard_main_allarrays_overflow .delete {
    width: 2vw;
    height: 2vw;
    background: url(../../../../public/img/delete.avif);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
  }
  body .dashboard_main_allarrays_overflow .edit {
    width: 2vw;
    height: 2vw;
    background: url(../../../../public/img/edit.avif);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
  }
  body .dashboard_main_allarrays .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 5%;
  }
  body .dashboard_main_allarrays .pagination ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  body .dashboard_main_allarrays .pagination li {
    margin: 0 1vw;
    cursor: pointer;
    font-size: 1.2vw;
  }
  body .dashboard_main_allarrays .pagination li a {
    text-decoration: none;
    display: inline-block;
    border: solid 1px rgb(115, 115, 115);
    padding: 0vw 0.5vw;
    border-radius: 3px;
  }
  body .dashboard_main_allarrays .pagination li.active a {
    background-color: transparent;
    border: solid 1px rgb(150, 152, 214);
    color: rgb(150, 152, 214);
  }
  body .dashboard_main_allarrays .pagination li a:hover {
    background-color: rgb(245, 245, 251);
    color: rgb(150, 152, 214);
    border: 1px solid rgb(150, 152, 214);
  }
}/*# sourceMappingURL=dashboard.css.map */