body{
    main{
        width: 100vw;
        .arrays{
        width: 85%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;  

        .array {
            width: 100%;
            margin-bottom: 15%;
            }
            h2{
                margin: 2rem 0;
                font-size: 7vw;
            }
            .underline{
                &::before{
                    content: "";
                    position: absolute;
                    width: 40vw;
                    height: 4vw;
                    background-color: $yellow;
                    z-index: -1;
                    transform: translateY(5vw) translateX(5vw);
                    font-size: 7vw;
                }
        
            }
            .search{
                border-radius: 5px;
                padding: 1vw 0;
                margin-bottom: 5vw;
                width: 40vw;
                border: solid 1px $grey;
                text-indent: 1vw;
                
            }
            table {
                font-size:100%;
                border-collapse: collapse;
                width: 200%;  
              }
              th {
                background-color: $yellow;
                border: none;
                padding: 0.5em;
                text-align: left;
                .sortButtons {
                    display: inline-block;
                    align-items: center;
                  }
                .tri{
                    color: $black;
                    background-color: transparent;
                    border: none;
                    display: flex;
                    font-weight: 900;
                    transform: rotate (0deg);
                    margin-left: 2vw;
                    font-size: 3.5vw;
                    &.activetri{
                            transform: rotate(180deg);
                    }
                  }
                
              }
              tr:nth-child(even) {
                background-color: $lightgrey;
              }
              td {
                border: none;
                padding: 0.5em;
                text-align: left;
              }
              .pagination {
                display: flex;
                justify-content: center;
                margin-top: 20px;
              }
              
              .pagination ul {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
              }
              
              .pagination li {
                margin: 0 1vw;
                cursor: pointer;
              }
              
              .pagination li a {
                text-decoration: none;
                display: inline-block;
                border: solid 1px $grey;
                padding: 0vw 1.5vw;
                border-radius: 3px;
              }
              
              .pagination li.active a {
                background-color: transparent;
                border: solid 1px $yellow;
                color: $yellow;
              }
              
              .pagination li a:hover {
                background-color:$grey;
                color: #fff;
              }
              
              .overflowArray{
                overflow-x: auto;
              }
            }
            .array5column{
                table{
                    width: 250%;
                }
            }
            .arrays__lastInvoices{
                .blocknote{
                    width: 15vw;
                    position: absolute;
                    right: 0;
                    transform: translateY(-70%);
                } 
            }
            .arrays__lastCompanies{
                .spotlight{
                    width: 15vw;
                    transform: translateY(-70%);
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
    @media screen and (min-width: 425px) {
        body{
            main{
                width: 100vw;
                .arrays{
                width: 85%;
                display: flex;
                margin: 0 auto;
                flex-direction: column;  
        
                .array {
                    width: 100%;
                    margin-bottom: 5vw;
                    .title {
                      display: flex;
                      flex-direction: row;
                      justify-content: space-between;
                      align-items: center;
                      width: 100%;
                      height: 20vw;
                      
                      h2 {
                        margin: 5vw 0;
                        margin-left: 0;
                        font-size: 4vw; 
                      }
                      
                      .underline {
                        font-size: 4.5vw;
                        &::before {
                          width: 20vw;
                          height: 2vw;
                          transform: translateY(3.2vw) translateX(12vw);
                        }
                      }
                      .underlinecompanies {
                        &::before {
                          width: 27vw;
                          transform: translateY(3.2vw) translateX(12vw);
                        }
                      }
                      
                      
                      .search {
                        width: 20vw;
                        padding: 0;
                        height: 3vw;
                       transform: translateY(7.5vw);
                        font-size: 1.7vw;
                        margin-right: 0;

                      }
                    }
                    
                        
                    }
                    table {
                        font-size:1.8vw;
                        border-collapse: collapse;
                        width: 100% 
                      }
                      th {
                        width: 20vw;
                        .tri{
                          font-size: 1.5vw;
                          margin-left: 1vw;
                        }
                      }
                    
                      tr:nth-child(even) {
                        background-color: $lightgrey;
                      }
                      td {
                    
                        border: none;
                        padding: 0.5em;
                        text-align: left;
                      } 
                      .overflowArray{
                        overflow-x: none;
                      }
                      .pagination li {
                        margin: 0 0.5vw;
                        cursor: pointer;
                        font-size: 1.5vw;
                      }
                      .pagination li a {
                        
                        padding: 0vw 0.5vw;
                        
                      }
                    }
                    .array5column{
                        table{
                            width: 50vw;
                        }
                    }
                    .arrays__lastInvoices{
                        .blocknote{
                            width: 10vw;
                            transform: translateY(-50%);
                        } 
                    }
                    .arrays__lastCompanies{
                        .spotlight{
                            width: 7.5vw;
                            transform: translateY(-60%);
                            left: 0;
                        }
                    }
                }
            }
        }