body {
    width: 100vw;
    footer {
      width: 80%;
      margin: 5% auto 0;
      border-top: solid 1px $yellow;
      font-size: calc(40% + 0.5vw);
      font-weight: 400;
      max-width: 1440px;
      
      .footer {
        margin-top: 5%;
        display: flex;
        width: 100%;
        
        .logo {
          width: 15vw;
          height: 35%;
          border: solid 2px $yellow;
          padding: 1vw;
          }
          .contacts{
            width: 90%;
            .contact{    
                margin: 0 0 0 20%;
                p{
                  color: $grey;
                  font-size: 2vw;
                }
                :nth-child(n+2){
                    display: inline-block;
                    margin-top: 5%;
                }
                :nth-child(3){
                    margin-left: 5%;
                }
                .localisation {
                    background: url("../../../../public/img/localisation.avif");
                    background-repeat: no-repeat;
                    background-size: contain;
                    padding-left: 7.5%;
                  }      
                  .phonenumber {
                    background: url("../../../../public/img/phoneNumber.avif");
                    background-repeat: no-repeat;
                    background-size: contain;
                    padding-left: 7.5%;
                  } 
                  .fax {
                    background: url("../../../../public/img/fax.avif");
                    background-repeat: no-repeat;
                    background-size: contain;
                    padding-left: 7.5%;
                  }             
                }
            .socialmedia{
                display: inline-block;
                width: 90%;
                flex-direction: row;
                margin-left: 20%;
                margin-top: 5%;
                font-size: 2dvw;
                
                img{
                width: 3vw;
                margin-left: 2%;
                display: inline-block;
                }
                p{
                    display: inline-block;
                    color:$grey;
                }
            }
        }
      }
      .footer_footer {
        
        border-top: 1px solid $lightgrey;
        margin-top: 5%;
        width: 100%;
        nav {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-top: 5%;
          a{
            color:$grey;
            text-transform: uppercase;
          }
        }
      }  
      .copyright{
        margin: 10% 0;
        justify-content: center;
        display: flex;
        p{
         color: $grey;
        }  
      }
    }
  }
  
  @media screen and (min-width: 425px) {
    body {
      width: 100vw;
      footer {
        width: 80vw;
        margin: 5% auto 0;
        border-top: solid 1px $yellow;
        font-size: calc(60% + 0.1vw);
        font-weight: 400;
       
        .footer {
          margin-top: 10%;
          display: flex;
          width: 100%;
         
          .logo {
            width: 20%;
            height: 35%;
            border: solid 3px $yellow;
            padding: 1% 2.5%;
            }
            .contacts{
              width: 90%;
              margin-left: 30%;
              .contact{   
                  margin: 0 0 0 20%;
                  p{
                    font-size: 1.2vw;
                  }
                  :nth-child(n+2){
                      display: inline-block;
                      margin-top: 5%;
                  }
                  :nth-child(3){
                      margin-left: 2%;
                  }          
                  }
              .socialmedia{
                width: 80%;
                align-items: center;
                  img{
                    width: 4%;
                    margin-left: 4%;
                  }
                  p{
                    transform: translateY(-25%);
                    font-size: 1.2vw;
                  }
              }
          }
        }
        .footer_footer {
       
          border-top: 1px solid $lightgrey;
          margin-top: 5%;
          width: 100%;
          nav {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 5%;
            a{
              color:$grey;
              text-transform: uppercase;
            }
          }
        } 
        .copyright{
          margin: 10% 0;
          justify-content: center;
          display: flex;
          p{
           color: $grey;
          } 
        }
      }
    }
    }
 