

// import scss
@import "_variables.scss";

// header
body{
  h1{
    font-size: calc(160% + 0.9vw);
    font-weight: 900;
    text-align: center;
    
}
  
    width: 30%;
    font-size: calc(90% + 0.5vw);
  
    header{
      background-color: $yellow;
      width: 100vw;
      height: auto;
      
      
      .header{
        width: 100%;
        padding-bottom:1em ;
        justify-content: space-between;
        display: flex;
        width: 90%;
        align-items: center;
        margin: 0 5%;
        padding-top: 5%;
      
          .logo{
            width: 50%;
            height: auto;
          }
        
  
        .navbar{
          display: flex;
          flex-direction: column;
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          padding: 10% 0;
          background-color: $white;
          opacity: 0.95;
          width: 100%;
          text-align: center;
          transform: translateY(-100%);
          
          
          a{
            
            font-size: 3vw;
            
            &:nth-child(n+2){
              margin-top: 8%;
            } 
          }  
        }
        .navbarDisplay{
          transform: translateY(0);
        }
  
        .login{
          width:3vw;
          text-align: center;
          font-size:80% ;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          z-index: 0;
          transform: translateX(15vw);
          font-size: 3vw;
          
          :hover{  
            color:rgba(0, 0, 0, 0.7);
          }
  
          .signUp{
            background-color: white;
            padding: 0.25em 0.5em;
            border-radius: 5px;
            margin-left: 2vw;
          }
        }
        .loginDisplay{
          display: none;
        }
        .hamburger-lines{
          width: 1.2rem;
          height: 0.8rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          z-index: 2;
          
          .line{
            display: block;
            height: 0.1rem;
            width: 100%;
            border-radius: 10px;
            background: $black;
          }
        }  
      }
  
      .herosection{
        display: flex;
        flex-direction: column;
        
        .herosection__title{
          width: 80%;
          margin: 10% auto 0;
                h1{
                    font-size: calc(160% + 0.9vw);
                    font-weight: 900;
                    text-align: center;
                }
            }
            img{
                width: 100%;
                height: auto;
            }
        }
        .herosectionImg2{
            display: flex;
            margin: 0 auto 0;
            width: 95%;
            height: auto;
        }
    }
    .menu {
      :first-child {
        transform:  rotate(135deg);
      }
      :nth-child(2) {
        opacity: 0;
      }
      :nth-child(3) {
        transform: rotate(-135deg);
      }
    } 
}



@media screen and (min-width: 425px) {

    body{
      font-size: calc(70% + 0.5vw);
      overflow-x: hidden;
        header{
            .header{
                display: flex;
                width: 90%;
                justify-content: space-between;
                .logo{
                    width: 10vw;
                    margin: 0;
                    margin-left: 2vw;
                    transform: translateX(40%);

                }
                .navbar{
                  width: 50vw;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    background-color: transparent;
                    position: relative;
                    padding: 0;
                    width: fit-content;
                    transform: none;
                    z-index: 4;
                    
                    a{
                      font-size: 1.8vw;
                      padding: 2%;
                      &:hover{
                    
                        outline: solid 1px $black;
                       
                      }
                        &:nth-child(n+2){
                        margin-left: 1.5vw;
                        margin-top: 0;
                    }}
                }
                .login{
                  width: 21vw;
                   font-size: 1.8vw;
                    margin: 0;
                    flex-direction: row;
                    z-index: 4;
                    position: relative;
                    transform: none;
                    .signUp{
                        border-radius: 10px;
                        margin-right: 1vw;
                    }
                }
               .hamburger-lines{
                display: none;
               }
               }
               .herosection{
                width: 100%;
                display: flex;
                justify-content: left;
                
                
                
                .herosection__title{
                    width: 42%;
                    margin: 7.5% 10% 10%;
                    
                    
                    h1{
                        font-size: 4vw;
                        text-align: left; 
                        
                    }
                }
                img{
                  position: absolute;
                  width: 55vw;
                  right: 0;
                  transform: translateY(-5vw)  ;
                  z-index: 0;
                }
            }
            .herosectionImg2{
              width: 90%;
          }
        }
    }
    }

